.grid-map-wrapper {
    @mixin mapPiecesStyles {
        .map-piece, .map-piece * {
            height: 100%;
            width: 100%;
            position: relative;

            .template {
                position: absolute;
                z-index: 50;
            }

            .line {
                background-color: #CCCCCC; 
            }
            
            .square {
                background-color: #000000; 
                
                &.revealed {
                    background-color: initial;
                    
                    &.shrouded {
                        background-color: #00000070; 
                    }
                }
            }
            
            .wall {
                background-color: #CCCCCC; 
                
                &.revealed {
                    background-color: #000000; 
                }
            }
            
            .door {
                background-color: #CCCCCC; 
                
                &.revealed {
                    background-color: #8B4513; 

                    &.opened {
                        max-width: 20px;
                        max-height: 20px;
                    }
                }
            }
            
            .hidden-door {
                background-color: #CCCCCC; 
                
                &.revealed {
                    background-color: #000000; 

                    &.discovered {
                        background-color: #DAA520; 
                    }

                    &.opened {
                        max-width: 20px;
                        max-height: 20px;
                    }
                }
            }
            
            .window {
                background-color: #CCCCCC; 
                
                &.revealed {
                    background-color: #87CEFA; 
                }
            }
            
            .hidden-window {
                background-color: #CCCCCC; 
                
                &.revealed {
                    background-color: #000000; 

                    &.discovered {
                        background-color: #DAA520; 
                    }
                }
            }

            .trap {
                background-color: #000000; 
                
                &.revealed {
                    background-color: initial;

                    &.discovered {
                        background-color: #ff000080; 
                        
                        &.shrouded {
                            background-color: #83000070; 
                        }
                    }
                }
            }

            .secret {
                background-color: #000000; 
                
                &.revealed {
                    background-color: initial;

                    &.discovered {
                        background-color: #ff00ff80; 
                        
                        &.shrouded {
                            background-color: #80008070; 
                        }
                    }
                }
            }
        }
    }

    margin: 20px;
    margin-left: 340px;
    background-color: white;
    overflow: hidden;
    position: relative;
    
    .grid-wrapper {
        width: fit-content;
        height: fit-content;
        display: grid;
        position: absolute;
        cursor: pointer;
    
        .grid-line {
            height: 5px;
            width: 5px;
            z-index: 2;

            @include mapPiecesStyles();
        }
    
        .grid-line-vertical {
            height: 50px;
            padding: 0px 1px;
            margin: 0px -1px;
        }
        
        .grid-line-horizontal {
            width: 50px;
            padding: 1px 0px;
            margin: -1px 0px;
        }

        .grid-square {
            width: 50px;
            height: 50px;
            z-index: 1;

            @include mapPiecesStyles();
        }
    
        .filler {
            height: 0px;
            width: 0px;
        }
    }

    .map-wrapper {
        position: absolute;
    }
}
